a {
	color: #295AB6;
}

a img.album {
	border: 2px solid #295AB6;
}

.contentheading {
	color: #295AB6;
}

body {
	background: #fff url(../images/style8/bg.png) 0 0 repeat-x;
}

#logo {
	background: url(../images/style8/logo.png) 0 0 no-repeat;
}

#primary-nav {
	background: url(../images/style8/horiz-menu-bg.png);
}

#primary-nav .nav2 {
	background: url(../images/style8/horiz-menu-right.png) 100% 0 no-repeat;
}

#primary-nav .nav3 {
	background: url(../images/style8/horiz-menu-left.png) 0 0 no-repeat;
}

#sidecol .col1 {
	background: url(../images/style8/col-top-right.png) 100% 0 no-repeat;
}

#sidecol .col2 {
	background: url(../images/style8/col-top-left.png) 0 0 no-repeat;
}

#inset {
	background: url(../images/style8/header-bg.jpg) 0 0 no-repeat;
}

img#rocket {
	background:  url(../images/style8/rocket.png) 0 0 no-repeat;
}

.module-hilite2 h3,
.module-hilite6 h4 {
	color: #333;
}

.module-hilite2 div div div,
.module-hilite6 div div div {
	border-left: 8px solid #333;
}

.module-hilite3 h3,
.module-hilite7 h3 {
	color: #295AB6;
}

.module-hilite3 div div div,
.module-hilite7 div div div {
	border-left: 8px solid #295AB6;
}

.module-hilite4 h3,
.module-hilite8 h3 {
	color: #999999;
}

.module-hilite4 a,
.module-hilite8 a {
	color: #999999;
}

.module-hilite4 div div div,
.module-hilite8 div div div {
	border-left: 8px solid #999999;
}

.module-quote h3 {
	color: #295AB6;
}

/* menus */

#horiz-menu a {
	color: #295AB6;
}

#horiz-menu li.active a {
	background: url(../images/style8/horiz-menu-selector.png) 50% 100% no-repeat;
	color: #000;
}

#horiz-menu li:hover a,
#horiz-menu li.sfHover a,
#horiz-menu li:hover a:hover,
#horiz-menu li.sfHover a:hover {
	color: #000;
}

#horiz-menu li:hover li:hover a:hover,
#horiz-menu li.sfHover li.sfHover a:hover {
	color: #295AB6;
}

#horiz-menu ul ul {
	background: #f1f1f1;
	border-left: 1px solid #fff;
	border-right: 1px solid #d7d7d7;
}

#horiz-menu li li {
	background: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7d7d7;
}

#horiz-menu li li a.daddy,
#horiz-menu li:hover li a.daddy,
#horiz-menu li.sfHover li a.daddy {
	background: url(../images/style8/dropdown-child.png) 95% 50% no-repeat;
}

/* side menu */

ul.sidenav li.active a,
ul.menuside li.active a,
a#active_menu.mainlevel {
	color: #000;
}

ul.menuside  li.active li a,
ul.sidenav li.active li a {
	color: #295AB6;
}

ul.menuside a,
ul.sidenav a,
a.mainlevel {
	background: url(../images/style8/vert-menu-bg.png) 0 0 no-repeat;
}

ul.menuside ul a,
ul.sidenav ul a {
	border-bottom: 1px solid #e3e3e3;
}

ul.menuside a:hover,
ul.sidenav a:hover {
	color: #000;
}

/* inset content */

div.sample-header {
	background: url(../images/style8/header-sample.png) 100% 0 no-repeat ;
}

/* readon */

#inset .readon {
	background: url(../images/style8/readmore-header.png) 0 0 no-repeat;
	color:  #555;
}

#inset .readon:hover {
	color: #468DF6;
}

/* typography */

li.number-1 {
	background: url(../images/style8/number-1.png) 0 2px no-repeat;	
}

li.number-2 {
	background: url(../images/style8/number-2.png) 0 2px no-repeat;	
}

li.number-3 {
	background: url(../images/style8/number-3.png) 0 2px no-repeat;	
}

li.number-4 {
	background: url(../images/style8/number-4.png) 0 2px no-repeat;	
}

li.number-5 {
	background: url(../images/style8/number-5.png) 0 2px no-repeat;	
}

li.number-6 {
	background: url(../images/style8/number-6.png) 0 2px no-repeat;	
}

li.number-7 {
	background: url(../images/style8/number-7.png) 0 2px no-repeat;	
}

li.number-8 {
	background: url(../images/style8/number-8.png) 0 2px no-repeat;	
}

li.number-9 {
	background: url(../images/style8/number-9.png) 0 2px no-repeat;	
}

ul.arrow-1 li {
	background: url(../images/style8/arrow-1.png) 2px 2px no-repeat;
}

ul.arrow-2 li {
	background: url(../images/style8/arrow-2.png) 2px 2px no-repeat;
}

ul.arrow-3 li {
	background: url(../images/style8/arrow-3.png) 5px 3px no-repeat;
}

ul.arrow-4 li {
	background: url(../images/style8/arrow-4.png) 5px 3px no-repeat;
}

ul.triangle-1 li {
	background: url(../images/style8/triangle-1.png) 6px 4px no-repeat;
}

ul.triangle-2 li {
	background: url(../images/style8/triangle-2.png) 6px 4px no-repeat;
}

ul.bullet-1 li {
	background: url(../images/style8/bullet-1.png) 6px 4px no-repeat;
}

ul.bullet-2 li {
	background: url(../images/style8/bullet-2.png) 6px 4px no-repeat;
}

ul.plus-1 li {
	background: url(../images/style8/plus-1.png) 6px 4px no-repeat;
}

ul.plus-2 li {
	background: url(../images/style8/plus-2.png) 6px 4px no-repeat;
}

span.pathway img {
	background: url(../images/style8/triangle-1.png) 0 50% no-repeat;
}